/* styles.css */

body {
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2; /* Background color for the body */
}

.container {
    max-width: 925px;
    margin: 0 auto; /* Center the container horizontally */
    padding: 20px; /* Optional padding inside the container */
    background-color: #fff; /* Optional container background color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional box shadow */
    margin-bottom: 15px; /* Add margin to the bottom of the container */
}

/* Heading h2 tags updated to h1 for SEO, style h1 as h2 (https://www.w3schools.com/tags/tag_hn.asp) */
h1 {
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    border-bottom: 1.5px solid #909090; /* Add a thin horizontal line under headings */
    padding-bottom: 5px; /* Optional spacing between headings and the line */
}

ul {
    margin-top: 5px; /* Optional spacing above the list */
}

li {
    margin-bottom: 5px; /* Add space between each list item */
}

@media (max-width: 600px) {
    /* Adjust styles for smaller screens */
    .container {
        padding: 10px; /* Reduce padding on smaller screens */
    }

    h1, h2, h3 {
        font-size: 1.5em; /* Adjust heading font size for smaller screens */
    }
}
