/* styles.css */
/* All Cebik pages updated to use this CSS file */

/* Original HTML styles */

body {
    font-family: Arial, Helvetica, sans-serif;
    /* background: #FFFFC0 url('images/lightppr.gif'); */ /* Original bg color and image */
    background: #F3F3E7; /* Solid color based on bg image, text much easier to read */
}

a:link { color: #0000FF; }
a:visited { color: #FF00FF; }

/* Updated styles */

/* Heading h2 tags updated to h1 for SEO, style h1 as h2 (https://www.w3schools.com/tags/tag_hn.asp) */
h1 {
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
}

/* Make preformatted text much easier to read (originally was bold on the bg image) */
pre {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 10px;
    background-color: #FFFFC0;
}
